<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trail3-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,28},{10,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,16},{8,8}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{8,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,58},{6,6}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{6,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{6,6}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{6,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,58},{4,4}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{4,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,40},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{16,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,14},{14,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{14,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{14,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{14,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{12,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>trail3-009.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,28},{10,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{64,64}</string>
            <key>textureFileName</key>
            <string>trail3.png</string>
        </dict>
    </dict>
</plist>
