<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12px-blue-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,120},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-blue-comet.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,206},{36,22}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,22}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>12px-blue-round.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-blue-seed.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-green-round.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,230},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-green-seed.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,192},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-long-black.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{48,16}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>12px-long-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,240},{48,16}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>12px-long-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{48,16}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>12px-purple-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,206},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-purple-comet.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,126},{36,22}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,22}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>12px-purple-round.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,120},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-purple-seed.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,168},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-red-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,162},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>12px-red-comet.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,170},{36,22}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,22}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>40px-electric-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>40px-electric-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>40px-electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>duck-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{54,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{54,38}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>duck-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{54,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,40}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>duck-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>duck-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,38},{50,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{50,40}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>duck-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,40},{46,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{46,42}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>duck-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,78},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>duck-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,84},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>dui-ga.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,40},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,48},{13,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,15}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>meteor-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,212},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,23}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>seed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,170},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>shot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,186},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>spaceship-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,40},{44,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>spaceship-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,126},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{38,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>spaceship-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,82},{38,44}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>spark-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,78},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>spark-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,73},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>spark-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,61},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>duck+spaceship.png</string>
        </dict>
    </dict>
</plist>
